<footer class="bg-gray-100 py-8">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8"> <!-- Padding controlado y simétrico -->
    <div class="flex flex-wrap justify-center lg:justify-between"> <!-- Centrado en móvil, espacio entre en desktop -->
      <!-- Columna 1: Logos y Redes Sociales -->
      <div class="w-full sm:w-1/2 lg:w-auto mb-8 lg:mb-0 text-center lg:text-left">
        <div class="flex flex-col items-center lg:items-start">
          <img src="logo.webp" alt="Logo 1" class="w-auto h-16 mb-4">
          <img src="emsa.webp" alt="Logo 2" class="w-auto h-16 mb-4">
          <div class="flex space-x-4 items-center">
            <a href="https://www.facebook.com/EstratFarma"  class="text-gray-600 hover:text-blue-500">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/company/estrategiasfarmaceuticas?originalSubdomain=co" class="text-gray-600 hover:text-blue-500">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/estrategias_farmaceuticas/" class="text-gray-600 hover:text-blue-500">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Columna 2: Contactos -->
      <div class="w-full sm:w-1/2 lg:w-auto mb-8 lg:mb-0 px-4 text-center lg:text-left">
        <h3 class="text-lg font-semibold mb-4">Contactos</h3>
        <div class="space-y-2">
          <p class="text-black">Teléfonos</p>
          <p class="text-gray-600">+(50) 3287532976</p>
          <p class="text-gray-600">+(1) 1287532976</p>
          <p class="text-gray-600">+(57) 3287532976</p>
          <p class="">Correo Electrónico</p>
          <p class="text-gray-600">soportestrategiasfs1505&#64;gmail.com</p>
        </div>
      </div>

      <!-- Columna 3: Dirección -->
      <div class="w-full sm:w-1/2 lg:w-auto mb-8 lg:mb-0 px-4 text-center lg:text-left">
        <h3 class="text-lg font-semibold mb-4">Dirección</h3>
        <p class="text-gray-600">2 S Biscaynne Boulevard Suite 3200 # 5066</p>
        <p class="text-gray-600">Miami, Florida, 33131</p>
        <p class="text-gray-600">United States</p>
      </div>

      <!-- Columna 4: Enlaces -->
      <div class="w-full sm:w-1/2 lg:w-auto px-4 text-center lg:text-left">
        <h3 class="text-lg font-semibold mb-4">Enlaces</h3>
        <ul class="space-y-2">
          <li><a href="/" class="text-gray-600 hover:text-blue-500">Inicio</a></li>
          <li><a href="/products" class="text-gray-600 hover:text-blue-500">Productos</a></li>
          <li><a href="/about" class="text-gray-600 hover:text-blue-500">Nosotros</a></li>
          <li><a href="/blog" class="text-gray-600 hover:text-blue-500">Blog</a></li>
        </ul>
      </div>
    </div>

    <!-- Derechos de autor -->
    <div class="text-center mt-8 text-gray-600">
      © Copyright 2025 Todos los derechos reservados. Estrategias Farmacéuticas & EMSA Inc.
    </div>
  </div>
</footer>
