@import "tailwindcss";

.ng-valid{
  @apply border-green-500 hover:border-green-400 focus:border-green-300;
}

.ng-invalid{
  @apply border-red-400 hover:border-red-300 focus:border-red-300;
}

.ng-untouched{
  @apply border-cyan-700 hover:border-cyan-600 focus:border-cyan-500 ;
}

.container{
  &:hover,&:active{
    .top, .bottom{
      &:before, &:after{
        margin-left: 200px;
        transform-origin: -200px 50%;
        transition-delay:0s;
      }
    }

    .center, .forgotten{
      opacity:1;
      transition-delay:0.2s;
    }
  }
}

.top, .bottom{
  &:before, &:after{
    content:'';
    display:block;
    position:absolute;
    width:200vmax;
    height:200vmax;
    top:50%;left:50%;
    margin-top:-100vmax;
    transform-origin: 0 50%;
    transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    z-index:10;
    opacity:0.65;
    transition-delay:0.2s;
  }
}

.top{
  &:before{transform:rotate(45deg);background:#1E78B9;}
  &:after{transform:rotate(135deg);background:#1E78B9;}
}

.bottom{
  &:before{transform:rotate(-45deg);background:#134C75;}
  &:after{transform:rotate(-135deg);background:#0D3653;}
}

.center{
  transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay:0s;
  color:#333;
}
